body{
    text-align: center;
}
div{
    height: 200px;
    width: 200px;
    background-color: red;
    margin: 0 auto;
    border-radius: 50%;
}
button{
    margin-top: 20px;
}
img{
    height: 200px;
    width: 200px;
}